*{

    text-align: center;
    
}

.baixo{
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.item{
    color: #fff;
    margin-right: 10px;
    padding-top: 20px;
}

.item:hover{
    color: #00BF63;
    margin-right: 10px;
}

.barra{
    background-color: #30405C;

}

.item_p{
    color: #fff;
    margin-left: 20px;

}

.joy{
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}

.rodape{
    background-color: #30405C;
    width:100%;
    height: 300px;
}

.conteudo_final{
    margin-top: 200px;
    color: #fff;
    padding: 20px;

}

.bton{
    background-color: #00BF63;
    color: #fff;
    border: solid 1px #00BF63;
    transition: 0.3s;
    border-radius: 7px;
    padding: 10px 40px;
    font-size: large;
    cursor: pointer;
}

.bton:hover{
    background-color: rgb(255, 255, 255);
    color: #00BF63;
    text-decoration: none;
}

.contato{
    margin-top: 10%;
    border: solid 2px black;
    padding: 40px;
}

.carrosel{
    background-color: #00BF63;
    width: 80%;
    height: 400px;
    margin: 10%;
}

.imagemcarrosel{
    width: 100%;
}

.tabela{
    margin-top: 10%;
}

.inicio{
    display:flex ;
    justify-content: start;
}

.interior{
    margin-top: 10%;
    
}

.penultimo{
    background-color: #00BF63;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.infomn{
    cursor: pointer;
    transition: 0.1s;
    border: solid 2px black;
}

.infomn:hover{
    cursor: pointer;
    border: solid 2px #00BF63;
}

.persona{
    height: 500px;
    width: 500px;
}

.textos{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    display:block;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.entrar{
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
}

.bloco1{
    margin: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

.botao{
    border: 2px solid gray;
    color: gray;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    
}

.botao:hover{
    border: 2px solid gray;
    color: rgb(255, 255, 255);
    background-color: gray;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.text{
    text-align: center;
    margin: 5px;
}

.sobre{
    margin-top: 50px;
    border-top: solid 2px black;
}

.sobre1{
    margin-top: 40px;
}







