* {
    text-align: center;
    margin: 0;
    padding: 0;
}

:root {
    --main-elements-color: #30405c;
    --main-font-color: #ffffff;
    --font-color-hover: #00bf63;
  }

/* ======= MENU SUPERIOR ======= */
.barra {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    background-color: var(--main-elements-color);

    padding-left: 10%;
    padding-right: 10%;
}

.imgIndex {
    width: 50px;
}

/* ======= BODY ======= */
.contIndex {
    background-color: #ebebeb;
}

/* ======= MAIN ======= */
.infoIndex {
    margin-top: 100px;
}

.textos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.interior {
    margin-top: 5%;
}

.contMain {
    text-align: center;

    background-color: #30405c;
    padding: 30px 30px;
    border-radius: 20px;
}

.textosB {
    color: #ffffff;
    margin-top: 10px;
}

.textosB:hover {
    color: #00bf63;
    text-decoration: none;
}

.tabela {
    margin-top: 5%;
}

.baixo {
    justify-content: center;
}

.inicio {
    display: flex;
    justify-content: start;
}

.textos {
    color: #30405c;
    margin-top: 10px;
}

.marginTop {
    margin-top: 10px;
}

.marginPrevinir {
    margin-top: 5%;
}


/* ======= RODAPÉ ======= */
.rodape {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;

    background-color: var(--main-elements-color);
    
    width: 100%;
    height: 75px;
}

.conteudo_final {
    margin-top: 20px;
    color: var(--main-font-color);
}